{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    {% if form.instance.pk %}
                        Update Post
                    {% else %}
                        New Post
                    {% endif %}
                </legend>
                <div class="form-group mb-3">
                    <label for="{{ form.title.id_for_label }}" class="form-label">{{ form.title.label }}</label>
                    {{ form.title }}
                    {% if form.title.errors %}
                        <div class="text-danger">
                            {{ form.title.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group mb-3">
                    <label for="{{ form.content.id_for_label }}" class="form-label">{{ form.content.label }}</label>
                    {{ form.content }}
                    {% if form.content.errors %}
                        <div class="text-danger">
                            {{ form.content.errors }}
                        </div>
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    {% if form.instance.pk %}
                        Update
                    {% else %}
                        Post
                    {% endif %}
                </button>
            </div>
        </form>
    </div>
{% endblock content %}