{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <div class="mt-3">
            <a class="btn btn-primary" href="{% url 'user-posts' user.username %}">View My Posts</a>
            <a class="btn btn-success" href="{% url 'post-create' %}">Create New Post</a>
        </div>
    </div>
{% endblock content %}